.hero {
  position: relative;
  background-color: #f4f4f9;
  background-image: url('/assets/hero.webp');
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  height: 500px;  // Adjust the height of the hero section
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;

  // Gradient overlay (left purple, right transparent)
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(159, 32, 223, 0.9), rgba(0, 0, 0, 0));  // Gradient from purple to transparent
    z-index: 1;
  }

  // Ensure the text content stays above the overlay
  .container {
    position: relative;
    z-index: 2;  // Position content above the overlay
  }

  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;  // White text to contrast with the overlay
  }

  .hero-subtitle {
    font-size: 1.2rem;
    color: #ffffff;  // White text for subtitle
    margin: 20px 0;
  }

  .cta-button {
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #d95b99;
    transition: background-color 0.3s ease;
    color: #ffffff;

    &:hover {
      background-color: #ae3ee3;
    }
  }

  // Mobile responsiveness
  @media (max-width: 768px) {
    .hero-title {
      font-size: 2rem;
    }

    .hero-subtitle {
      font-size: 1rem;
    }
  }
}

/* Section Styling */
#heart-behind-heal {
  background-color: #d08bee; /* Light background for the section */
  padding: 80px;
}

/* Card Styling */
#heart-behind-heal .mat-card {
  padding: 20px; /* Internal padding */
  border-radius: 8px; /* Rounded corners */
}

/* Title Styling */
#heart-behind-heal .mat-card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #f7f7f7;
}

/* Image Styling */
#heart-behind-heal img {
  max-width: 70%;
  height: auto;
}

/* Styling for Overlapping Card */
.overlap-card {
  top: -150px; /* Adjust this value to overlap the hero section */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px; /* Set max width of the card */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  background-color: #e2b9f4; /* Set the card's background color */
  z-index: 10; /* Ensures the card appears above the hero section */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Custom styles for progress bars */
.custom-progress {
  max-width: 70%;  /* Adjust this value to reduce the width further */
  margin: 0 auto;  /* Center the progress bars */
}

.first-progressbar{
  margin-top: 5%;
}


.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accent-btn {
  background-color: #d95b99; // Accent color
  color: #ffffff;

  &:hover {
    background-color: #ff4790;
    color: #ffffff;
  }
}



