/* Navbar Styles */
.navbar {
  padding: 8px;
  background-color: #9f20df;
  position: sticky;
  top: 0;
  z-index: 1000;

  .navbar-brand {
    color: #ffffff;
    &:hover {
      color: #d95b99;
    }
  }

  .navbar-nav {
    justify-content: center;
  }

  .logo-img {
    height: 60px;
    width: auto;
  }

  .nav-link {
    font-size: 16px;
    color: #ffffff;
    &:hover {
      color: #d95b99;
    }
  }

  .nav-link.active {
    color: #d95b99 !important;
  }

  .btn-accent {
    background-color: #d95b99;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #ff4790;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  }

  .btn-primary {
    background-color: #ae3ee3;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #bd5ce7;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  }

  /* Styling the Toggler Button */
  .navbar-toggler {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none; /* Remove the outline */
    box-shadow: none; /* Remove any box-shadow that appears on hover/focus */

    .material-icons {
      font-size: 30px;
      color: white;
    }
  }

  /* Remove outline when toggler button is focused */
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  .collapse.navbar-collapse {
    display: none;
    transition: all 0.3s ease-in-out;
  }

  .navbar-toggler.collapsed + .collapse {
    display: block;
  }

  /* Toggler icon color on hover */
  .navbar-toggler:hover .material-icons {
    color: #d95b99;
  }
}
