.app-header {
  // Custom styles for the header using Angular Material and Bootstrap
  padding: 40px;
  
  position: sticky; // Make the header sticky
  top: 0; // Stick to the top of the page
  z-index: 1000; // Ensure the header stays above other content while scrolling

  
  .logo {
    font-size: 24px;
    font-weight: bold;
    
    a {
      display: flex;
      align-items: center;
      color: #ffffff; // Primary color from theme
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 700;

      &:hover {
        color: #d95b99; // Accent color on hover
      }

      // Logo Image
      img.logo-img {
        height: 80px; // Adjust logo height as needed
        width: auto;  // Maintain aspect ratio of logo
        margin-right: 10px; // Space between logo image and text (if text exists)
      }
    }
  }

  .nav-links {
    display: flex;
    gap: 24px;

    .nav-link {
      color: #ffffff;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        color: #d95b99; // Accent color on hover
      }
    }
  }

  .cta-buttons {
    display: flex;
    gap: 16px;

    .btn {
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .primary-btn {
      background-color: #9f20df; // Primary color
      color: #ffffff;

      &:hover {
        background-color: #ae3ee3;
      }
    }

    .accent-btn {
      background-color: #d95b99; // Accent color
      color: #ffffff;

      &:hover {
        background-color: #ff4790;
  
      }
    }
  }
}

